{
  "name": "Kubernetes",
  "projectTemplateId": "{{ template_id.json['data'][0]['id'] }}",
  "allowSystemRole": false,
  "members": [ ],
  "virtualMachine": false,
  "servicesPortRange": null,
  "projectLinks": [ ]
}
